@using BilgiIslemEnvanter.Models.Entity
@model List<TonerCikis>
@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="container-fluid">
        <h1 class="mt-4" style="color: red; text-align: center">BURDUR BİLGİ İŞLEM ŞEFLİĞİ</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Gösterge Paneli</li> 
        </ol>
        <div class="row"> 
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">Lexmark MS-510 Kalan Toner: @Html.ViewBag.dgr1</div>
                    <div class="card-body">Lexmark MS-510 Kalan Drum:  @Html.ViewBag.dgr2</div>
                    @*<div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="~/Toner/Toner/">Detay</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>*@
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">Lexmark MS-810 Kalan Toner: @Html.ViewBag.dgr3</div>
                    <div class="card-body">Lexmark MS-810 Kalan Drum : @Html.ViewBag.dgr4</div>
                    @*<div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="~/Yazici/Index/">Detay</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>*@
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">Lexmark MX-710 Kalan Toner: @Html.ViewBag.dgr7</div>
                    <div class="card-body">Lexmark MX-710 Kalan Drum : @Html.ViewBag.dgr8</div>
                    @*<div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="~/Tarayici/Index">Detay</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>*@
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">Lexmark T650 Kalan Toner  : @Html.ViewBag.dgr5</div>
                    <div class="card-body">Lexmark MS-823 Kalan Toner: @Html.ViewBag.dgr6</div>
                    @*<div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="~/Personel/Index">Detay</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>*@
                </div>
            </div>
        </div>
        @*<div class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area mr-1"></i>
                            Area Chart Example
                        </div>
                        <div class="card-body"><canvas id="myAreaChart" height="40"></canvas></div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-bar mr-1"></i>
                            Bar Chart Example
                        </div>
                        <div class="card-body"><canvas id="myBarChart" height="40"></canvas></div>
                    </div>
                </div>
            </div>*@




        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1" style="color: red"></i>
                @*<b><label style="color:red">Toner Çıkışı Yapılan Birimler</label></b>*@
                <a class="btn btn-primary" href="@Url.Action("Liste","Toner")">TONER ÇIKIŞ</a>
                <a class="btn btn-warning" href="@Url.Action("TonerStok","Toner")">TONER STOK</a>
                <a class="btn btn-danger" href="@Url.Action("ZimmetListesi","Raporlar")">ZİMMET LİSTESİ</a>
                <a class="btn btn-success" href="@Url.Action("Index","Personel")">REHBER</a>
                @*<a class="btn btn-success" href="@Url.Action("Yedekleme","Home")">VERİTABANI YEDEKLE</a>*@
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr style="background: darkred; color: white">
                                <th>Kullanıcı</th>
                                <th>Birimi</th>
                                <th>Yazıcı Marka</th>
                                <th>Yazıcı Model</th>
                                <th>Veriliş Tarihi</th>
                                <th>Takan Personel</th>
                                <th>Toner/Drum</th>
                            </tr>
                        </thead>

                        @foreach (var item in Model)
                        {
                            <tbody>
                                <tr>
                                    <td>@item.Yazicilar.Personeller.ADSOYAD</td>
                                    <td>@item.Birimler.BIRIMAD</td>
                                    <td>@item.YaziciMarkalari.YAZICIMARKA</td>
                                    <td>@item.YaziciModelleri.YAZICIMODEL</td>
                                    <td>@Convert.ToDateTime(item.TAKMATARIHI).ToString("d")</td>
                                    <td>@item.Kullanicilar.ADISOYADI</td>
                                    @if (item.DRAMADET == 0)
                                    {
                                        <td style="color: red">TONER</td>
                                    }
                                    else
                                    {
                                        <td style="color: blue">DRUM</td>
                                    }


                                </tr>
                            </tbody>

                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</main>


