@using BilgiIslemEnvanter.Models.Entity
@model BilgiIslemEnvanter.Models.Entity.TonerCikis

@{
    ViewBag.Title = "TonerCikis1";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

@{
    BilgiIslemEntities db = new BilgiIslemEntities();
    int gelenid = Convert.ToInt32(ViewBag.id);
    var modeller = db.Yazicilar.Where(x => x.ID == gelenid).FirstOrDefault();
    //var birimler = db.Birimler.Where(x => x.ID == modeller.Birimler.ID).FirstOrDefault();
    var yazicimarkalar = db.YaziciMarkalari.Where(x => x.ID == modeller.YaziciMarkalari.ID).FirstOrDefault();
    var yazicimodeller = db.YaziciModelleri.Where(x => x.ID == modeller.YaziciModelleri.ID).FirstOrDefault(); 

}



<h2>Toner Çıkış İşlemleri</h2>


@using (Html.BeginForm("TonerCikis1", "Toner", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        YAZICI ID
        <div class="col-md-10">
            @*@Html.TextBoxFor(model => model.YAZICIID, new { htmlAttributes = new { @class = "form-control" } })*@
            <input type="text" value="@(modeller.ID)" name="YAZICIID" hidden readonly class="form-control" />
            <input type="text" value="@(modeller.ID)" name="YAZICIID" readonly class="form-control" />
        </div>
    </div>

    <div class="form-group">
        BİRİMİ
        <div class="col-md-10">
            @*@Html.TextBoxFor(m => m.Birimler.ID, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control", @readonly="readonly" })*@
            <input type="text" value="@(Model.Birimler.ID)" name="BIRIMID" hidden readonly class="form-control" />
            <input type="text" value="@(Model.Birimler.BIRIMAD)" name="BIRIMADI" readonly class="form-control" />

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.YaziciMarkalari.ID, "YAZICIMARKAID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="text" value="@(yazicimarkalar.ID)" name="YAZICIMARKAID" hidden readonly class="form-control" />
            <input type="text" value="@(yazicimarkalar.YAZICIMARKA)" name="YAZICIMARKA" readonly class="form-control" />

            @*@Html.DropDownListFor(m => m.YaziciMarkalari.ID, (List<SelectListItem>)ViewBag.dgr5, new { @class = "form-control" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.YaziciModelleri.ID, "YAZICIMODELID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="text" value="@(yazicimodeller.ID)" name="YAZICIMODELID" hidden readonly class="form-control" />
            <input type="text" value="@(yazicimodeller.YAZICIMODEL)" name="YAZICIMODEL" readonly class="form-control" />
            @*@Html.DropDownListFor(m => m.YaziciModelleri.ID, (List<SelectListItem>)ViewBag.dgr6, new { @class = "form-control" })*@
        </div>
    </div>





    <div class="form-group">
        @Html.LabelFor(model => model.DRAMADET, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DRAMADET, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DRAMADET, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TONERADET, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TONERADET, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TONERADET, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TAKMATARIHI, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TAKMATARIHI, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TAKMATARIHI, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.YAZICISAYAC, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.YAZICISAYAC, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.YAZICISAYAC, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Kullanicilar.ID, "TakanKullaniciId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Kullanicilar.ID, (List<SelectListItem>)ViewBag.dgr4, new { @class = "form-control" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Liste")
</div>
